<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Simple CI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">My Simple CI</a>
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section style="margin-top:40px">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to my simple CI test</h1>
        <p class="lead">This page is just an exmaple of how we can use CI to promote builds</p>
      </div>
    </div>
  </section>
  <section style="margin-top:40px">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Rishi Seetha</h2>
          ya boi lakshanwot
          <hr>
          <p>
             Over 15 years experience in complete Software Development life cycle in variety of technological platforms. I have successfully
            implemented DevOps practices in various large organizations. Currently responsible for implementing Automated environment
            builds and CI/CD pipeline within ATO as an IBM consultant.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Lucas Smith</h2>
          <hr>
          <p>
             I started interning at IBM in 2017 where I was quickly moved into a DevOps and Automation role due to my achievements in
            automating other tasks and experience with DevOps tools
          </p>
        </div>
      </div>
      <div style="padding-top:20px"></div>
      <div class="row">
        <div class="col-md-6">
          <h2>DevOps</h2>
          <hr>
          <p>
            DevOps is the union of Development and Operations teams, processes and products to enable continuous delivery to end users.
            The contraction of “Dev” and “Ops” refers to the joining of both Developers and System Operators teams with shared processes
            and practices. The core of utilizing DevOps is performing Automation and Testing at every step of the product lifecycle,
            from Development to Infrastructure.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Automation</h2>
          <hr>
          <p>
             A key part to the DevOps practices is integrating automation within every step of the pipeline. This has created a demand
            for DevOps Engineers and Automation experts in order to perform these tasks. Whilst newer organizations can embrace DevOps
            and Automation from when they were conceived, larger organizations require an adoption strategy. 
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>